.nav {
    background-color: #662671;
    padding: 20px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: end;
}

.imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.confirmation-dialog {
    position: fixed;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #f0ebeb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-dialog p {
    margin-bottom: 10px;
  }
  
  .confirmation-dialog button {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirmation-dialog button:hover {
    background-color: #0056b3;
  }
  
  .hidden{
    display: none;
}