.Container {
    width: 100%;
    margin: auto;
    background-image: url('../assets/images/image 5.png');
    background-color: hsl(0, 0%, 80%);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.Container::before {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(241, 193, 241, 0.5); /* Purple color with 50% opacity */
    z-index: 1; /* Ensure the overlay is on top */
}

.Container * {
    position: relative;
    z-index: 2; /* Ensure children elements are above the overlay */
}

.formContainer {
    background-color: rgb(195, 72, 27);
    width: 30%;
    padding: 20px;
    border: 2px solid red;
    margin-left: 100px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px;
    gap: 5px;
    background-color: white;
    margin-left: 100px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.logo{
    height: 100px;
    width: 200px;
}