.container {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #F2F2F2;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFF8B7;
  color: rgb(16, 15, 15);
}

.button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: #4CAF50;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other elements */
  visibility: hidden; /* Hide by default */
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-container.show {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  position: relative;
}

.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin: 10px 0 5px;
}

.modal input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #4CAF50;
  cursor: pointer;
  border-radius: 4px;
}

.modal button:hover {
  background-color: #45a049;
}

.modal .cancel-button {
  background-color: #f44336;
}

.modal .cancel-button:hover {
  background-color: #e53935;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 16px;
  background-color: #fff;
  /* Additional styles */
}

select:focus {
  outline: none;
  border-color: #007bff;
  /* Example focus color */
}


.inactive {
  color: red;


}

.active {
  color: green;

}

.status-active {
  color: green;
  font-weight: bold;
}

.status-inactive {
  color: red;
  font-weight: bold;
}
